@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url("https://loremflickr.com/1600/900/weather");
    background-repeat: no-repeat;

    background-size: cover;
    height: 100vh;
}
.caixaresultado{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 10px;
    color: white;
    
}